/*
Colors used:
Primary Color (Blue): #163FBD;
Secondary Color (Green): #F1A5E6;
*/
*{  box-sizing: : border-box; }
html {scroll-behavior: smooth;}

body {
  background-color: #EFEFEF;
  font-family: 'Sora', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
 font-weight: 400; /* Sets the font weight to 300 */
 line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
 color: #151314;
}

header {
  position: fixed;
  width: 100%;
  background-color: white;
    padding: 10px 0 4px;
    -webkit-box-shadow: 0px 3px 10px -3px rgba(50, 50, 50, 0.4);
-moz-box-shadow:    0px 3px 10px -3px rgba(50, 50, 50, 0.4);
box-shadow:         0px 3px 10px -3px rgba(50, 50, 50, 0.4);
    z-index: 2;
  }

main {
  padding-top: 61.59px;
}

nav > ul {

  list-style-type: none;
  padding:0;
  margin:0;
}

nav > ul > li > a {
  padding: 0 8px;
  font-weight: 600;
  color: #151314;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
}

h1, h2, h3, h4 {
  line-height: 1.4

}

h1 {
  font-size: 2.75em;
  font-weight: 600;
  /* text-decoration: underline */
}

h2 {
  font-size: 2.25em;
  font-weight: 400;
}

h3 {
  font-size: 1.75em;
  font-weight: 600;
}

h4 {
  font-size: 1.35em;
  font-weight:400;
}

img {
  width: 100%;
}

a {
  color: black;
  text-decoration: underline;
  background-color: none
}
a:visited { /* visited link */
  color: black;
}

a:hover,
a:focus {
  color: #F1A5E6;
  text-decoration: underline; /* Underlining when hovering over a link */
}

a:active { /* selected link */
  color: #F1A5E6;
}
.button {
  display: inline-block;
   background-color: black;
   color: white;
   font-size: 1.35em;
   font-weight: 600;
   text-decoration: none;
  padding: 16px;
  border-radius: 4px;
  border: 2px solid black;
  transition-duration: 0.4s;
transition-property: opacity;
transition-timing-function: ease-out;
}

.button:visited { /* visited link */
  color: white;
  text-decoration:none;
}

.button:hover {
  text-decoration: none;
  background-color: white;
  color: black;
  border: 2px solid black;
  opacity: 0.8;
}

.button.contact {
  transform: rotate(-4deg);
  padding: 16px 24px;
  background-color: transparent;
  color: black;
  border-radius: 40px;
  text-align: center;

}

.button.contact:visited {
  color: black;
  background-color: transparent;
}

.button.contact:hover{
  color:white;
  background-color: black;
}

.underlined.text {
  display: inline;
  text-decoration: underlined;
  color: 151314;
}

.underlined.text:active {
  color: #151314;
}

.underlined.text:visited{
  color:#151314;
}

.underlined.text:hover{
  color:#151314;
}

.logo {
  max-width: 200px;
  padding-left: 0px;
  margin-left: 0;
}
/* Layout styling */

.container {
  padding: 0 16px;
}

.row {
  margin: 24px 0; /* 24px top and bottom, 0 left and right */
}



#hero h1{
  text-align:center;
}

#works h3{
  text-align: center;
}

#contact {
  background-color: white;
  padding: 0;
  display: inline-block;
  width: 100%;
}

ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#bio {
  display:inline-blok;
  width: 100%;
}

.berlin-illustration {
  width: 100%;
max-width: 100%;
height: auto;
}

.sun {
animation-duration: 4s;
animation-name: color-change;
animation-iteration-count: infinite;
animation-direction: alternate;
animation-timing-function: linear;
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 6px;
  font-size: 20px;
  padding-right: 0;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 641px) {
  header {
    text-align: unset;
    padding: 24px 0 24px;
  }

  nav > ul > li {
    display: inline-block;
    margin: 1em 0;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 0px;
  }
  main {
    padding-top: 105px;
  }

  body{
    font-size:16px;
  }
#hero span {
  display: block;
}

.col-md-6 {
    width: 46%;
}


[class*="col-"] {
  float:left;
  padding: 10px;
}

.logo {
  max-width: 250px;
}

}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .col-lg-7{
    width: 55.9%;
  }

  .col-lg-5{
    width: 40%;
  }

body{
  font-size: 18px;
}

}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
  }
  body{
    font-size: 24px;
  }

}
