/*
Colors used:
Primary Color (Blue): #163FBD;
Secondary Color (Green): #F1A5E6;
*/
*{
  box-sizing: : border-box;
}

body {
  background-color: #EFEFEF;
  font-family: 'Sora', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
 font-weight: 400; /* Sets the font weight to 300 */
 line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
 color: #151314;
}

header {
  position: fixed;
  width: 100%;
  background-color: white;
    text-align: center;
    padding: 16px 0;
    -webkit-box-shadow: 0px 3px 10px -3px rgba(50, 50, 50, 0.4);
-moz-box-shadow:    0px 3px 10px -3px rgba(50, 50, 50, 0.4);
box-shadow:         0px 3px 10px -3px rgba(50, 50, 50, 0.4);
    }

main {
  padding-top: 147.19px;
}

nav > ul {
  display: inline-block;
  width: 100%;
  list-style-type: none;
  padding:0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 8px;
  font-weight: 600;
  color: #151314;
}


h1, h2, h3, h4 {
  line-height: 1.4

}

h1 {
  font-size: 2.75em;
  font-weight: 600;
  /* text-decoration: underline */
}

h2 {
  font-size: 2.25em;
  font-weight: 400;
}

h3 {
  font-size: 1.75em;
  font-weight: 600;
}

h4 {
  font-size: 1.35em;
  font-weight:400;
}

img {
  width: 100%;
}

a {
  color: black;
  text-decoration: underline;
  background-color: none
}
a:visited { /* visited link */
  color: black;
}

a:hover,
a:focus {
  color: #F1A5E6;
  text-decoration: underline; /* Underlining when hovering over a link */
}

a:active { /* selected link */
  color: #F1A5E6;
}
.button {
  display: inline-block;
   background-color: black;
   color: white;
   font-size: 1.35em;
   font-weight: 600;
   text-decoration: none;
  padding: 16px;
  border-radius: 4px;
  border: 2px solid black;
  transition: 0.3s ;
}

.button:visited { /* visited link */
  color: white;
  text-decoration:none;
}

.button:hover {
  text-decoration: none;
  background-color: white;
  color: black;
}

.button.contact {
  transform: rotate(-4deg);
  padding: 16px 24px;
  background-color: transparent;
  color: black;
  border-radius: 40px;
  text-align: center;

}

.button.contact:visited {
  color: black;
  background-color: transparent;
}

.button.contact:hover{
  color:white;
  background-color: black;
}

.underlined.text {
  display: inline;
  text-decoration: underlined;
  color: 151314;
}

.underlined.text:active {
  color: #151314;
}

.underlined.text:visited{
  color:#151314;
}

.underlined.text:hover{
  color:#151314;
}

.logo {
  max-width: 250px;
}
/* Layout styling */

.container {
  padding: 0 16px;
}

.row {
  margin: 24px 0; /* 24px top and bottom, 0 left and right */
}

#hero h1{
  text-align:center;
}

#works h3{
  text-align: center;
}

#contact {
  background-color: white;
  padding: 0;
  display: inline-block;
  width: 100%;
}
